* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto';
  background-color: #040924;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  padding-bottom: 3.2rem;
}

.container{
  border: #040924;  
  display: grid;
  height: 100vh;
  align-content: center;
  
}
.card{
  display: flex;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  max-width: 42.7rem;
  margin: auto;
  background-color: aliceblue;
  border-radius: 0.6rem;
  
}

.input-wrapper{
  display: flex;
  flex-direction: column;
 
}

.inputWarapper + .inputWarapper {
  margin-top: 1.6rem;
}
/* 
nesse caso, a última div que antecede à sua homoníma
receberá o estilo aplicado.  
.inputWarapper + .inputWarapper = .inputWarapper que sucede a outra
div que leva o mesmo nome
*/

form label {
  font-size: 1.6rem;
  line-height: 1.8rem;
  display: block;
  margin-bottom: 1rem;

}

form input{
  width: 100%;
  border-radius: .4rem;
  font-size: 1.6rem;
  border: 1px solid rgba(73,80,87,30%);
  background-color: #DCE2E9;
  padding: 1rem;
  box-shadow: none;
}

form button {
  width: 100%;
  padding: 1.5rem;
  border-radius: .4rem;
  margin-top: 3.2rem;
  color: aliceblue;
  background-color: #02799D;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  cursor: pointer;
  transition: .4s;
}

form button:hover {
  background-color: #105e76;
}

/* MODAL */

.modal-container {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
  
}

.open{
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
}

.modal-container button{
 
  background: none;
  border: none;
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.5s;
}

.modal-container button:hover{
  transform: scale(1.4);
}

/* ALERT */
.alert.alert-open{
  opacity: 1;
  visibility: visible;
  
}

.alert{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f55454;
  color: antiquewhite;
  text-align: center;
  padding: .8rem;
  font-weight: bold;
  
  opacity: 0;
  visibility: hidden;
   
}
